In [1]:
#importing the Dependencies and dataset
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
credit_card_data=pd.read_csv("creditcard.csv")

In [2]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [3]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [4]:
legit=credit_card_data[credit_card_data['Class']==0]
fraud=credit_card_data[credit_card_data['Class']==1]

In [5]:
legit['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [6]:
fraud['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [7]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [8]:
legit_sample=legit.sample(492)

In [9]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [10]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [11]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94855.680894,0.057946,-0.088746,0.032606,0.122559,0.042789,-0.099443,-0.076783,0.002214,0.141107,...,0.064936,-0.015628,-0.020184,0.021084,0.037529,0.004651,-0.039567,-0.018172,-0.001519,81.703841
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [12]:
x=new_dataset.drop(columns='Class',axis=1)
y=new_dataset['Class']

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [25]:
x_train.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
100623,67571.0,-0.758469,-0.045410,-0.168438,-1.313275,-1.901763,0.739433,3.071892,-0.483422,0.618203,...,-0.032500,0.042619,0.397224,0.072229,-0.242276,0.560916,-0.540955,0.150606,-0.117140,549.06
280486,169553.0,1.790241,-0.249974,-1.158063,1.298203,0.202940,-0.233449,0.210117,-0.196945,0.405410,...,0.047004,0.144960,0.363746,0.025851,0.618972,0.137300,-0.632620,0.005713,-0.016841,118.58
82144,59262.0,-0.632045,0.317903,1.359850,0.764327,0.386527,-0.000794,0.294221,0.380557,-0.074522,...,-0.216222,0.074990,0.150462,-0.025638,-0.046991,-0.342444,-0.433938,0.148479,0.147303,19.19
114839,73639.0,-0.340882,1.175880,1.304773,0.055385,0.084798,-0.965668,0.755698,-0.108475,-0.489108,...,0.154540,-0.256740,-0.639188,-0.022107,0.345693,-0.138751,0.070100,0.249586,0.099600,3.59
282382,170861.0,-9.440483,7.675710,-7.219447,-0.977137,-4.689669,-2.199776,-3.762123,5.445188,2.098256,...,1.026934,0.268735,0.676637,0.824398,-0.086664,0.545391,-0.113053,0.789900,0.902288,15.30

In [26]:
model = LogisticRegression()

In [27]:
model.fit(x_train, y_train)

LogisticRegression()

In [28]:
# accuracy on training data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [29]:
print('Accuracy on training data :',training_data_accuracy)

Accuracy on training data : 0.9415501905972046

In [30]:
x_test_prediction = model.predict(x_test)
testing_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [31]:
print("Accuracy on testing data:",testing_data_accuracy)

Accuracy on testing data: 0.934010152284264